/**
 * Project AtLast
 * Main style sheet
 */

.ui-bar-large {
	border-left-width: 0;
	border-right-width: 0;
	overflow-x: hidden;
	overflow-y: visible;
	padding: 15px;
}

.ui-bar-small {
	padding: 2px 5px;
	overflow-x: hidden;
	overflow-y: visible;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.ui-listview-checkboxes .ui-listview-filter {
	margin-top: 0;
}

.ui-listview-checkboxes .ui-li-static {
	padding: 0;
}

.ui-listview-checkboxes .ui-checkbox,
.ui-listview-checkboxes .ui-checkbox label {
	border: 0;
	border-radius: inherit;
	-moz-border-radius: inherit;
	-webkit-border-radius: inherit;
}

.ui-footer p {
	font-size: 13px;
	text-align: center;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 300px;
	margin: -150px 0 0 -125px;
	text-align: center;
	width: 250px;
}

.logo .ui-btn {
	width: 200px;
}

.mood-picker {
	background-image: -moz-radial-gradient(0% 100%, circle cover, #f63 0%, #fc3 40%, #9f3 100%);
	background-image: -webkit-radial-gradient(0% 100%, circle cover, #f63 0%, #fc3 40%, #9f3 100%);
	background-image: -ms-radial-gradient(0% 100%, circle cover, #f63 0%, #fc3 40%, #9f3 100%);
	background-image: -o-radial-gradient(0% 100%, circle cover, #f63 0%, #fc3 40%, #9f3 100%);
}

/**
 * Icons
 */
.ui-icon-custom .ui-btn-inner {
	padding-top: 40px !important;
}

.ui-icon-custom .ui-icon {
	width: 30px !important;
	height: 30px !important;
	margin-left: -15px !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	background-color: transparent;
	background-position: 50% 50%;
}

.ui-icon-projectatlast-configure {
	background-image: url("../images/icons/configure.png");
}

.ui-icon-projectatlast-logout {
	background-image: url("../images/icons/logout.png");
}