/**
 * Project AtLast
 * Main style sheet
 */

.ui-listview-checkboxes .ui-listview-filter {
	margin-top: 0;
}

.ui-listview-checkboxes .ui-li-static {
	padding: 0;
}

.ui-listview-checkboxes .ui-checkbox,
.ui-listview-checkboxes .ui-checkbox label {
	border: 0;
	border-radius: inherit;
	-moz-border-radius: inherit;
	-webkit-border-radius: inherit;
}

.ui-footer p {
	font-size: 13px;
	text-align: center;
}