.milestones-list .ui-collapsible-content {
	padding: 0;
}

.milestone-item {
	border-width: 0 0 1px;
}

.milestone-item:last-child {
	border-bottom-width: 0;
}

.milestone-delete {
	float: right;
	margin: 0.5em;
}

.milestone {
	position: relative;
	margin: 2em 4%;
	height: 30px;
}

.milestone-bar,.milestone-marker {
	position: absolute;
	height: 30px;
	z-index: 1;
	color: #333333;
	text-align: center;
}

.milestone-marker {
	width: 0;
}

.milestone-bar {
	border: 0;
	text-shadow: 0 1px 0 #FFFFFF;
	z-index: 0;
}

.milestone strong,.milestone span {
	display: block;
	position: absolute;
	margin: 10px 0 5px -5em;
	z-index: 1;
	width: 10em;
	height: 1.5em;
	text-align: center;
}

.milestone strong {
	bottom: 30px;
}

.milestone span {
	top: 30px;
}

.milestone-bar-left strong,.milestone-bar-left span {
	right: 0;
	margin-left: 0;
	margin-right: -5em;
}

.milestone-bar-right strong,.milestone-bar-right span {
	left: 0;
	/*margin-left: -5em;
	margin-right: 0;*/
}

.milestone-handle {
	display: block;
	position: relative;
	left: 50%;
	top: 0;
	width: 40px;
	height: 40px;
	z-index: 100;
	margin: -5px 0 0 -20px;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	line-height: 38px;
	text-align: center;
}

.milestone-handle a {
	margin: auto;
}

.milestone-bar-right {
	right: 0;
	-moz-border-radius-topright: 1em;
	-webkit-border-top-right-radius: 1em;
	border-top-right-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

.milestone-bar-left {
	left: 0;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	border-top-left-radius: 1em;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
}