<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>

	<filter>
		<filter-name>LoginRequired</filter-name>
		<filter-class>projectatlast.frontend.LoginRequiredFilter</filter-class>
		<init-param>
			<param-name>exclude</param-name>
			<param-value>/_ah/.*,/appstats/.*,/test/.*,/student/login</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>LogoutRequired</filter-name>
		<filter-class>projectatlast.frontend.LogoutRequiredFilter</filter-class>
	</filter>

	<filter>
		<filter-name>RegistrationRequiredFilter</filter-name>
		<filter-class>projectatlast.frontend.RegistrationRequiredFilter</filter-class>
		<init-param>
			<param-name>exclude</param-name>
			<param-value>/_ah/.*,/appstats/.*,/test/.*,/student/login,/student/postlogin</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>RunningActivity</filter-name>
		<filter-class>projectatlast.frontend.RunningActivityFilter</filter-class>
	</filter>

	<filter>
		<filter-name>NoRunningActivity</filter-name>
		<filter-class>projectatlast.frontend.NoRunningActivityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginRequired</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>LogoutRequired</filter-name>
		<url-pattern>/student/login</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RegistrationRequiredFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RunningActivity</filter-name>
		<url-pattern>/tracking/confirmStop.jsp</url-pattern>
		<url-pattern>/tracking/cancelActivity</url-pattern>
		<url-pattern>/tracking/stopActivity</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>NoRunningActivity</filter-name>
		<url-pattern>/tracking/startTracking.jsp</url-pattern>
		<url-pattern>/tracking/newFreeTimeActivity.jsp</url-pattern>
		<url-pattern>/tracking/newStudyActivity.jsp</url-pattern>
		<url-pattern>/tracking/startFreeTimeActivity</url-pattern>
		<url-pattern>/tracking/startStudyActivity</url-pattern>
	</filter-mapping>

	<!-- Home -->
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/home.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>

	<!-- Login -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/student/login.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/student/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PostLogin</servlet-name>
		<servlet-class>projectatlast.student.PostLoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostLogin</servlet-name>
		<url-pattern>/student/postlogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<jsp-file>/student/logout.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/student/logout</url-pattern>
	</servlet-mapping>

	<!-- Configure student -->
	<servlet>
		<servlet-name>ConfigureStudent</servlet-name>
		<servlet-class>projectatlast.student.ConfigureServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConfigureStudent</servlet-name>
		<url-pattern>/student/configure</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AjaxGetProgramCourses</servlet-name>
		<servlet-class>projectatlast.course.AjaxProgramCoursesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AjaxGetProgramCourses</servlet-name>
		<url-pattern>/course/ajaxGetProgramCourses</url-pattern>
	</servlet-mapping>

	<!-- Start/stop activity -->
	<servlet>
		<servlet-name>StartFreeTimeActivity</servlet-name>
		<servlet-class>projectatlast.tracking.StartFreeTimeActivityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StartFreeTimeActivity</servlet-name>
		<url-pattern>/tracking/startFreeTimeActivity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StartStudyActivity</servlet-name>
		<servlet-class>projectatlast.tracking.StartStudyActivityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StartStudyActivity</servlet-name>
		<url-pattern>/tracking/startStudyActivity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteActivity</servlet-name>
		<servlet-class>projectatlast.tracking.DeleteActivityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteActivity</servlet-name>
		<url-pattern>/tracking/deleteActivity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SetStudyDetails</servlet-name>
		<servlet-class>projectatlast.tracking.SetStudyDetailsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SetStudyDetails</servlet-name>
		<url-pattern>/tracking/setStudyDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StopActivity</servlet-name>
		<servlet-class>projectatlast.tracking.StopActivityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StopActivity</servlet-name>
		<url-pattern>/tracking/stopActivity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CancelCurrentActivity</servlet-name>
		<servlet-class>projectatlast.tracking.CancelCurrentActivityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CancelCurrentActivity</servlet-name>
		<url-pattern>/tracking/cancelActivity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AjaxCurrentActivity</servlet-name>
		<servlet-class>projectatlast.tracking.AjaxCurrentActivityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AjaxCurrentActivity</servlet-name>
		<url-pattern>/tracking/ajaxCurrentActivity</url-pattern>
	</servlet-mapping>

	<!-- Milestones -->
	<servlet>
		<servlet-name>AddMilestoneServlet</servlet-name>
		<servlet-class>projectatlast.milestone.AddMilestoneServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddMilestoneServlet</servlet-name>
		<url-pattern>/milestone/add</url-pattern>
	</servlet-mapping>

	<!-- TODO: Remove silly tests when done debugging -->
	<servlet>
		<servlet-name>SampleCoursesTest</servlet-name>
		<servlet-class>projectatlast.test.SampleCoursesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SampleCoursesTest</servlet-name>
		<url-pattern>/test/samplecourses</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RandomActivityTest</servlet-name>
		<servlet-class>projectatlast.test.RandomActivityTestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RandomActivityTest</servlet-name>
		<url-pattern>/test/randomActivity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DemoActivityTest</servlet-name>
		<servlet-class>projectatlast.test.DemoActivityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DemoActivityTest</servlet-name>
		<url-pattern>/test/demoActivityTest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CleanActivities</servlet-name>
		<servlet-class>projectatlast.test.CleanActivitiesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CleanActivities</servlet-name>
		<url-pattern>/test/cleanActivities</url-pattern>
	</servlet-mapping>

	<!-- Graph -->
	<servlet>
		<servlet-name>RequestGraphDataServlet</servlet-name>
		<servlet-class>projectatlast.graph.RequestGraphDataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RequestGraphDataServlet</servlet-name>
		<url-pattern>/graph/requestData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SampleGraphsServlet</servlet-name>
		<servlet-class>projectatlast.test.SampleGraphsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SampleGraphsServlet</servlet-name>
		<url-pattern>/graph/samplegraphs</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CreateGraphServlet</servlet-name>
		<servlet-class>projectatlast.graph.CreateGraphServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateGraphServlet</servlet-name>
		<url-pattern>/graph/add</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteGraphServlet</servlet-name>
		<servlet-class>projectatlast.graph.DeleteGraphServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteGraphServlet</servlet-name>
		<url-pattern>/graph/delete</url-pattern>
	</servlet-mapping>


	<!-- Appstats -->
	<filter>
		<filter-name>Appstats</filter-name>
		<filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
		<init-param>
			<param-name>logMessage</param-name>
			<param-value>Appstats available: /appstats/details?time={ID}</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Appstats</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Appstats</servlet-name>
		<servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Appstats</servlet-name>
		<url-pattern>/appstats/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/appstats/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>