<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ProjectAtlast_gcode</servlet-name>
		<servlet-class>projectatlast.ProjectAtlast_gcodeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProjectAtlast_gcode</servlet-name>
		<url-pattern>/projectatlast_gcode</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>groupservletTest</servlet-name>
		<servlet-class>projectatlast.groupservletTest</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>groupservletTest</servlet-name>
		<url-pattern>/groupservletTest</url-pattern>
	</servlet-mapping>
	

	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
